<body>
<table align="center" border="1">
    <tr style="background-color: darkorange;color: white;">
        <th>AC NO</th>
        <th>Name</th>
        <th>AC TYPE</th>
        <th>AGE</th>
        <th>GENDER</th>
        <th>BALANCE</th>
        <th>IMAGE</th>
    </tr>
        <tr>
        <td>{{object.acno }}</td>
        <td>{{object.name }}</td>
        <td>{{object.type }}</td>
        <td>{{object.age }}</td>
        <td>{{object.gender }}</td>
        <td>{{object.balance }}</td>
        <td><img src="{{object.picture.url }}" height="50" width="50"></td>
    </tr>
</table>

</body>